*{
    margin: 0;
    padding: 0;
    font-family:monospace;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    margin: 0 auto;
    width: 75vw;    
    text-align: center;
}

h2{
    background-color: rgba(235, 9, 9, 0.767);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
}

input{
    margin-bottom: 10px;
}

#caixa{
    width: 300px;
    height: 200px;
    background-color:antiquewhite;
    box-shadow: 0 0 20px rgb(218, 126, 7);
    margin: 20px auto;
}

.btn{
    padding: 5px 20px;
    margin-right: 10px;
}

.area_add_sub{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.area_add_sub button{
    padding: 5px;
    background-color: antiquewhite;
    border: 1px solid rgb(218, 126, 7);
    color: #FFF;
    border-radius: 5px;
}

.area_add_sub button:hover{
    background-color: rgb(218, 126, 7);

}